########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js


########################
# bower install lib
########################
assets/angular-animate/
assets/angular-cookies/
assets/angular-mocks/
assets/angular-resource/
assets/angular-route/
assets/angular-sanitize/
assets/angular-scenario/
assets/angular/
assets/bootstrap/
assets/es5-shim/
assets/jquery/
assets/underscore/